@import '../../assets/css/reset';
@import '../../assets/css/variables';
@import '../../assets/css/mixins';
@import '../../assets/css/typography';

.section {
	position: relative;
	@include flex;
	height: 100vh;
	padding: 1rem;

	@include desktopUp {
		flex-direction: row;
		padding: 3rem;
	}

	&--welcome {
		justify-content: space-between;
		height: 100vh;
		padding: calc(#{$navHeightMobile} + 1rem) 0 0 0;
		background: $secondaryColorDark;
		color: $white;

		@include desktopUp {
			padding: 1rem 0 0 3rem;
			justify-content: center
		}
	}

	&--weather {
		position: relative;
		display: block;
		height: auto;
		background: $greyLight;
		color: $secondaryColorDark;
		padding-bottom: 3rem;

		@include desktopUp {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			grid-template-rows: 1fr auto auto auto;
			gap: $gap;
			padding-bottom: 5rem;
		}
	}

	&--hidden {
		display: none;
	}
}

.col {
	@include flex;
	width: 100%;
	height: auto;

	@include desktopUp {
		height: 100%;
		width: 50%;
	}

	&--form {
		height: 50%;
		padding: 1rem;

		@include desktopUp {
			height: auto;
			padding: 0;
		}
	}

	&--weather {
		width: 100%;

		@include desktopUp {
			grid-area: 1 / 1 / 2 / 6;
		}
	}
}

.form {
	position: relative;
	width: auto;
	margin-top: 2rem;
	color: $white;

	@include desktopUp {
		margin-top: 5rem;
	}

	&__input {
		display: block;
		background: none;
		border-radius: 10rem;
		border: 2px solid $white;
		outline: none;
		height: $inputHeight;
		width: 100%;
		padding: 0 calc(#{$inputHeight} + 0.5rem) 0 1rem;
		color: $white;
		@include basicTransition;

		@include desktopUp {
			width: 20rem;
		}

		&::placeholder {
			color: $white;
			opacity: 0.3;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 0.85rem;
			@include basicTransition
		}

		&:hover::placeholder {
			opacity: 0.8;
		}

		&:focus {
			border-color: $primaryColor;
		}
	}

	&__btn {
		position: absolute;
		top: 0;
		left: calc(100% - #{$inputHeight});
		width: calc(#{$inputHeight} + 1px);
		height: calc(#{$inputHeight} + 1px);
		background-color: $primaryColor;
		border: 0;
		border-radius: 100%;
		outline: 0;
		@include basicTransition;

		@include desktopUp {
			left: calc(20rem - #{$inputHeight});

		}

		&:hover {
			background-color: $secondaryColorLight;
			cursor: pointer;
		}
	}

	&__message {
		width: 100%;
		margin-top: 1rem;
		padding: 1rem;
		background-color: $danger;
		font-size: 0.75rem;
		line-height: 1.5;

		@include desktopUp {
			width: 20rem;
		}

		&--hidden {
			display: none;
		}

	}

	&__geolocation {
		@include flex($flexDirection:row, $justifyContent:flex-start);
		padding-top: 1rem;
		font-size: 0.675rem;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__icon {
		margin-right: 0.25rem;
	}

	&__geolocation,
	&__icon {
		opacity: 0.5;
		@include basicTransition;

		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}
}

.current-weather {
	width: 100%;
	margin-top: 2rem;

	@include desktopUp {
		width: auto;
		margin-top: 0;
	}

	&__item {
		padding-bottom: 0.5rem;
		font-size: 0.875rem;

		@include desktopUp {
			padding-bottom: 0.875rem;

		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__temp {
		font-size: 2rem;
		font-weight: $fontBold;
	}

	&__name {
		font-weight: $fontBold;
		padding: 0.5rem 1rem 1rem 1rem;
		text-align: center;
	}

	&__icon {
		display: block;
		height: auto;
		width: 50%;
		margin: 0 auto;

		@include desktopUp {
			width: 7rem;
			padding-bottom: 1rem;
		}
	}
}

.forecast {
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: $secondaryColorLight;
	font-weight: $fontBold;
	text-align: center;

	@include desktopUp {
		margin-bottom: auto;
	}

	&__date,
	&__name,
	&__temp {
		display: block;
		width: 100%;
		padding: 0.5rem;
	}

	&__date,
	&__name {
		font-size: 0.775rem;
	}


	&__temp {
		font-size: 1.375rem;
	}

	&__icon {
		display: block;
		width: 50%;
		margin: 0 auto;

		@include desktopUp {
			width: 4rem;
		}
	}
}

.cta {
	@include flex;
	width: 100%;
	padding: 2rem;
	background-color: $primaryColor;
	text-align: center;

	@include desktopUp {
		height: 100%;
		@include basicTransition;

	}

	&:hover {
		background-color: $secondaryColorDark;
		cursor: pointer;
	}

	&__copy {
		color: $white;
		padding-bottom: 0.5rem;
	}

}

.cta,
.forecast {
	height: 100%;
	grid-column-end: span 2;
	grid-row-end: span 1;
}


.city-image {
	width: 100%;
	height: 50vh;
	background: url('../../assets/images/city.svg') no-repeat top center;
	background-size: cover;

	@include desktopUp {
		grid-area: 1 / 6 / 2 / 11;
		height: 100%;

	}
}

.city {
	@include flex($alignItems:flex-start);
	width: 100%;

	@include desktopUp {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&__name {
		color: $primaryColor;
		margin-bottom: 0.5rem;

		@include desktopUp {
			margin-bottom: 1.38rem;
		}
	}
}

.sun {
	@include flex($flexDirection:row, $justifyContent:flex-start);
	width: 100%;
	font-size: 0.875rem;

	@include desktopUp {
		justify-content: flex-end;
		width: auto;
		padding-left: 1rem;
	}

	&__icon {
		padding-right: 0.5rem;

		@include desktopUp {
			padding-right: 1rem;
		}
	}

	&__item {
		margin-top: 4px;
		font-size: 0.875rem;
		text-align: left;

		@include desktopUp {
			text-align: right;
		}
	}
}

.heading {
	font-size: 1rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	width: 100%;
	text-align: left;

	@include desktopUp {
		margin-top: 2rem;
	}

	&--forecast {
		margin-top: 2rem;

		@include desktopUp {
			grid-area: 2 / 1 / 3 / 11;
			margin: 0;
			margin-bottom: -$gap + 0.5;
		}
	}
}

.box {
	@include flex;
	width: 100%;
	height: 100%;
	background-color: $secondaryColorLight;
	padding: 2rem 1rem;

	@include desktopUp {
		padding: 2rem 1rem;
		flex-direction: row;
	}
}
