<form action="" class="form">
    <input type="text" class="form__input" placeholder="Podaj miejscowość">
    <button class="form__btn" data-target="weather">
        <img src="../../assets/images/icon-search.svg" alt="" srcset="">
    </button>
    <div class="form__geolocation">
        <svg xmlns="http://www.w3.org/2000/svg" class="form__icon" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="3" />
        <circle cx="12" cy="12" r="8" />
        <line x1="12" y1="2" x2="12" y2="4" />
        <line x1="12" y1="20" x2="12" y2="22" />
        <line x1="20" y1="12" x2="22" y2="12" />
        <line x1="2" y1="12" x2="4" y2="12" />
        </svg>
        Zlokalizuj mnie
    </div>
    <div class="form__message form__message--hidden"></div>
</form>