@import '../../../assets/css/reset';
@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

.footer {
	position: relative;
	@include flex;
	padding: 3rem 1rem;
	background-color: $greyMedium;

	&__icon {
		position: absolute;
		top: -1.5rem;
		left: 50%;
		transform: translateX(-50%);
		padding-bottom: 0.5rem;
	}

	&__copyright {
		font-size: 0.75rem;
		font-weight: $fontBold;

		&-link {
			&:link,
			&:visited {
				color: $secondaryColorDark;
				text-decoration: none;
				@include basicTransition;
			}

			&:hover,
			&:focus {
				color: $primaryColor;
			}
		}
	}
}
